<web-app>  
  
<servlet>  
<servlet-name>Demo</servlet-name>  
<servlet-class>Demo</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Demo</servlet-name>  
<url-pattern>/Demo</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>S11B</servlet-name>  
<servlet-class>S11B</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>S11B</servlet-name>  
<url-pattern>/S11B</url-pattern>  
</servlet-mapping>  

<servlet>  
<servlet-name>S30B</servlet-name>  
<servlet-class>S30B</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>S30B</servlet-name>  
<url-pattern>/S30B</url-pattern>  
</servlet-mapping>  

<servlet>  
<servlet-name>Slip18B</servlet-name>  
<servlet-class>Slip18B</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Slip18B</servlet-name>  
<url-pattern>/Slip18B</url-pattern>  
</servlet-mapping>  

<!--<servlet>  
    <servlet-name>login</servlet-name>  
    <servlet-class>LoginServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
    <servlet-name>login</servlet-name>  
    <url-pattern>/hidden</url-pattern>  
</servlet-mapping>  -->

<welcome-file-list>
    <welcome-file>First.html</welcome-file>
</welcome-file-list>
  
</web-app>  